@{
    ViewData["Title"]="Home Page";

}



<div class="text-center main">

        <table class="grid-populares">
            <thead>
                <tr>
                    <td>Nomes recorrentes</td>
                    <td>Postagens</td>
                </tr>
            </thead>
            <tbody>
                <tr class="list-group-horizontal-lg">
                    <td id="nomeRecorrente1">Falavinha</td>
                    <td> <strong><span id="nPostagens1">0</span></strong> postagens</td>
                </tr>
            </tbody>
        </table>
    </div>



</div>


