@{
    ViewData["Title"]="Home Page";

}



<div class="text-center main">

        <table class="grid-populares">
            <thead>
                <tr>
                    <td>Nomes recorrentes</td>
                    <td>Postagens</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="nomeRecorrente1">Falavinha</td>
                    <td> <strong><span id="nPostagens1">0</span></strong> postagens</td>
                </tr>
                <tr>
                    <td id="nomeRecorrente2">Ademir</td>
                    <td><strong><span id="nPostagens2">0</span></strong> postagens</td>
                </tr>
                <tr>
                    <td id="nomeRecorrente3">Vandon</td>
                    <td><strong><span id="nPostagens3">0</span></strong> postagens</td>
                </tr>
                <tr>
                    <td id="nomeRecorrente3">Matheus</td>
                    <td><strong><span id="nPostagens4">0</span></strong> postagens</td>
                </tr>
                <tr>
                    <td id="nomeRecorrente3">Plínio</td>
                    <td><strong><span id="nPostagens5">0</span></strong> postagens</td>
                </tr>
                <tr>
                    <td id="nomeRecorrente3">Larissa</td>
                    <td><strong><span id="nPostagens6">0</span></strong> postagens</td>
                </tr>
            </tbody>
        </table>
    </div>



</div>


