<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="grid-depoimentos-pessoais" class="grid-posts">
        <div class="grid-depoimentos">
            <div id="depoimento-nome-pessoal" class="depoimento-nome-classe">Otavio</div>
            <div id="depoimento-text-pessoal" class="depoimento-text-classe">Acredito que ajustar melhor as divs possa te ajudar e preciso aprender com e ele como fazer um request,puxar dados de bancos e tudo mais.e preciso aprender com e ele como fazer um request,puxar dados de bancos e tudo mais.</div>
            <div id="depoimento-tempo-pessoal" class="depoimento-tempo-classe">01/12/2020</div>
            <div  class="depoimento-decisao-pessoal">
                <button id="ApagaDepoimento-btn" class="alert-warning btn depoimento-btn-apaga-classe">Apagar</button>
                <button id="ApagaDepoimento-btn" class="alert-light btn depoimento-btn-apaga-classe">Curti</button>
            </div>
        </div>
    </div>
</body>
</html>