
@{
    ViewData["Title"]="Depoimentos de outros colaboradores";
}
<div class="main">


    <div id="BoxInsereDepoimento" class="caixa-de-depoimento">
        <h3>Ajude a comunidade com alguma depoimento!</h3>
        <form method="post">
            <div  class="pega-depoimento">
                <textarea id="depoimento" rows="5" cols="6" class="area_texto " placeholder="Escreva aqui algum conhecimento que você acredita ser interessante..."></textarea>
                <input type="button" class="botao btn-outline-success" id="botaoSubmit" value="Ajudar!">
            </div>
        </form>
    </div>


    <h1>@ViewData["Title"]</h1>

    <div id="grid-posts" class="grid-posts">
        <div class="grid-depoimentos" hidden>
            <div id="depoimento-nome"  class="depoimento-nome-classe"></div>
            <div id="depoimento-text" class="depoimento-text-classe"></div>
            <div id="depoimento-tempo" class="depoimento-tempo-classe"></div>
        </div>
    </div>
</div>
