# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
*.cache
*.pdb
*.cache
*.cache
*.props
*.pdb
*.v2
*.props
*.cache
.vs/Blog_do_Matoso/DesignTimeBuild/.dtbcache.v2
.vs/Blog_do_Matoso/v16/.suo
Blog_do_Matoso/bin/Debug/netcoreapp3.1/Blog_do_Matoso.pdb
Blog_do_Matoso/bin/Debug/netcoreapp3.1/Blog_do_Matoso.Views.pdb
Blog_do_Matoso/Blog_do_Matoso.csproj
