<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog_do_Matoso</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/index/index.css" />
    <link rel="stylesheet" href="~/css/texting/texting.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




</head>
<body>
    <header>
        <nav class=" navbar navbar-expand-sm navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand cabecalho">Blog do Matoso</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="ListaLinksCabecalho" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Texting">Depoimentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre Matoso</a>
                    </li>

                </ul>
            </div>

            <div id="CaixaAcessoUsuario" class="navbar-collapse  text-dark collapse d-sm-inline-flex flex-sm-row">
                <div id="CaixaUserLogado" class="btn-group" role="group" aria-label="Botao">
                    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="PaginaUsuario">Meu perfil</a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <button id="MeuPerfil-btn" class="dropdown-item" type="button" data-toggle="modal" data-target="#ModalMeuPerfil">Meu perfil</button>
                            <button id="LogOut-btn" class="dropdown-item" type="button">Sair <i class="Tiny material-icons">exit_to_app</i></button>
                        </div>
                    </div>
                </div>

                <div id="CaixaLogin" class="login_box">
                    <div class="login_box_login">
                        <button class="nav-link text-dark botao-login botao" type="button" data-toggle="modal" data-target="#ModalLogin">Login</button>
                    </div>
                    <div class="login_box_cadastro">
                        <button class="nav-link text-dark botao-login botao" type="button" data-toggle="modal" data-target="#ModalCadastros">Cadastro</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="ModalLogin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLoginTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLoginTitle">Login de Usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formsLogin">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Usuario</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="loginUsuario" placeholder="nome de usuário">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Senha</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="loginSenha" placeholder="senha de usuário">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary"> Entrar!</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="ModalMeuPerfil" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLoginTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MeuPerfilNome">Nome do dono do perfil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Nova Senha</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="NovaSenha" placeholder="nova senha">
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="button" id="TrocaSenha-btn" class="btn btn-info">Trocar senha</button>
                        <button type="button" id="ApagaConta-btn" class="btn btn-danger"> Apagar conta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ModalCadastros" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalCadastrosTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCadastrosTitle">Pagina de cadastro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formsCadastro" class="needs-validation" novalidate>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Usuario</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="cadastroNome" placeholder="nome de usuário">
                                <span hidden class="alert-danger" id="usuarioExistente"> Usuário já <b>existente</b> </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Senha</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="cadastroSenha" placeholder="senha de usuário">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary"> Cadastrar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <footer class="border-top footer text-muted" style="margin-right:20%">
        <div class="text-center align-content-md-center">
            <p>2020 - Blog do Matoso</p>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy  </a>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js">SubmitDica</script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/AutorizaComponentesLogin.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/SubmitTexto.js" asp-append-version="true"></script>
    <script src="~/js/DBRequisitaDepoimentosAntigos.js" asp-append-version="true"></script>
    <script src="~/js/PostaConteudo.js" asp-append-version="true"></script>
    <script src="~/js/CadastraUsuario.js" asp-append-version="true"></script>
    <script src="~/js/LoginUsuario.js" asp-append-version="true"></script>
    <script src="~/js/ModificaDadosUsuario.js" asp-append-version="true"></script>
    @RenderSection("Scripts" , required: false)
</body>
</html>
